<div class="mb-4">
  <input (keyup)='filterBericht$.next($event.target.value)' type='text' class="form-control" id='filter' name='filter'
         placeholder='Zoeken op titel'>
</div>

<div *ngIf="successMsg" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Gelukt!</strong> {{ successMsg }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">
      <i class="material-icons">clear</i>
    </span>
  </button>
</div>

<div *ngIf='errorMsg' class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Oh ow</strong> {{ errorMsg }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">
        <i class="material-icons">clear</i>
      </span>
  </button>
</div>

<div *ngIf="berichten?.length === 0" class="font-weight-light col-md-8 offset-md-2 text-center">
  <p><i>Er zijn nog geen berichten voor de regio {{ currentUser.regio }}.</i></p>
  <button class="btn btn-primary btn-lg btn-block" routerLink="/bericht/nieuw">Plaats als eerste een bericht!</button>
</div>
<div *ngIf="berichten?.length !== 0">
  <app-bericht *ngFor='let localBericht of berichten | reverse | berichtFilter:filterBerichtTitel |
               paginate: {itemsPerPage: 5, currentPage: currentPage}'
               [bericht]='localBericht'></app-bericht>
  <pagination-controls *ngIf="berichten?.length > 5" (pageChange)="onPageChange($event)"></pagination-controls>
</div>
