<form [formGroup]='bericht' (ngSubmit)='onSubmit()' class="col-xl-6 col-md-8 col-sm-12">
  <h2>Bericht toevoegen</h2>
  <div class="form-group">
    <input class="form-control" id="titel" placeholder="Titel" #berichtTitel>
  </div>
  <div class="form-group">
    <textarea class="form-control" id="bericht" rows="5" placeholder="Voer hier je bericht in." #berichtTekst></textarea>
  </div>
  <div class="form-group">
    <label for="categorie">Categorie</label>
    <select class="form-control" id="categorie" #categorie>
      <option *ngFor='let cat of categorieen' value="{{ cat.id }}">{{ cat.naam }}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Bericht plaatsen</button>
</form>