<h2>Aanmelden</h2>

<div *ngIf='errorMsg' class="alert alert-danger">{{errorMsg}}</div>

<form [formGroup]='user' (ngSubmit)='onSubmit()' class="col-md-8">
  <div class="form-group">
    <label for="username">Gebruikersnaam:</label>
    <input type="text" class="form-control" id="username" formControlName='username' placeholder="Gebruikersnaam" data-test="username"
      required>
    <!-- Check indien geldig ??? -->
  </div>
  <div class="form-group">
    <label for="password">Wachtwoord:</label>
    <input type="password" class="form-control" id="password" formControlName='password' placeholder="Wachtwoord" data-test="password"
      required>
    <!-- Check voor geldig email -->
  </div>
  <button type='submit' [disabled]='!user.valid' class="btn btn-primary" id='loginbtn' data-test="loginBtn">Meld aan</button>
</form>
<p>Nog geen account?
  <a href="" routerLink="/registreer">Registreer je hier!</a>
</p>